<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Image Converter Test</title>
  </head>
  <body>
  		<form action="" method="POST" enctype="multipart/form-data">
  			{% csrf_token %}

  			Width: <input type="text" name="width" value="100" />
  			<br />
  			Height: <input type="text" name="height" value="100" />
  			<br />
  			Zip File: <input type="file" name="zip_file" />
  			<br /><br />
  			<input type="submit" value="Upload" />
  		</form>
  </body>
</html>
