{% extends "interface/base.html" %}
{% load bootstrap_pagination %}

{% block content %}
      <div class="gistDiv">

        {% for post in posts %}
        <h4><a href="{% url 'interface_view' post.post_id %}" class="gist_{{ post.post_id }}" title="{% if post.post_type == SOCIAL_POST_GIST %}https://gist.github.com/six519/{% else %}https://www.youtube.com/watch?v={% endif %}{{ post.post_id }}">{{ post.description }}</a>
        </h4>

        <div style="float:left;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ferdinandsilva.com{% url 'interface_view' post.post_id %}">Tweet</a>
        </div>

        <div style="float:left;width:30px;">
            &nbsp;
        </div>

        <div style="float:left;">
        <div class="fb-like" data-href="http://ferdinandsilva.com{% url 'interface_view' post.post_id %}" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="true"></div>
        </div>

        <div style="float:left;width:30px;">
            &nbsp;
        </div>

        <div style="float:left;">
        <script src="//platform.linkedin.com/in.js" type="text/javascript">
          lang: en_US
        </script>
        <script type="IN/Share" data-url="http://ferdinandsilva.com{% url 'interface_view' post.post_id %}" data-counter="right"></script>
        </div>
        

        <div style="float:left;width:30px;">
            &nbsp;
        </div>        
        
        <div style="float:left">
        <div class="g-plusone" data-href="http://ferdinandsilva.com{% url 'interface_view' post.post_id %}"></div>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
        </div>        


        <div style="clear:both;">&nbsp;</div>

        {% if post.post_type == SOCIAL_POST_GIST %}
        <script src="https://gist.github.com/six519/{{ post.post_id }}.js"></script>
        {% else %}
        <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ post.post_id }}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}

        {% if not forloop.last %}
        <hr>
        {% endif %}

        {% endfor %}

        {% if with_page %}
        {% bootstrap_paginate posts %}
        {% else %}
        <div class="pagination  pagination-centered ">    
            <ul>    
                <li >
                    <a title="Previous Page" href="{{ request.META.HTTP_REFERER }}">&larr;</a>
                </li>            
            </ul> 
        </div>
        {% endif %}

      </div>
{% endblock %}
{% block javascripts %}
<script>

    $(function(e){
        {% for post in posts %}
        $('.gist_{{ post.post_id }}').tooltip();
        {% endfor %}
    });

</script>
{% endblock %}
