{% extends "interface/base.html" %}
{% load bootstrap_pagination %}

{% block content %}
      <div class="gistDiv">

        {% for gist in gists %}
        <h4><a href="{% url 'interface_view' gist.id %}" class="gist_{{ gist.id }}" title="https://gist.github.com/six519/{{ gist.id }}">{{ gist.description }}</a>
        </h4>

        <div style="float:left;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ferdinandsilva.com{% url 'interface_view' gist.id %}">Tweet</a>
        </div>

        <!--
        <div class="fb-like" data-href="http://ferdinandsilva.com{% url 'interface_view' gist.id %}" data-send="true" data-width="450" data-show-faces="true"></div>

        <div class="fb-recommendations-bar" data-site="http://ferdinandsilva.com{% url 'interface_view' gist.id %}" data-read-time="30" data-side="left" data-action="like"></div>
        -->
        <div style="float:left;">
        <div class="fb-like" data-href="http://ferdinandsilva.com{% url 'interface_view' gist.id %}" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="true"></div>
        </div>

        <div style="float:left;width:30px;">
            &nbsp;
        </div>

        <div style="float:left;">
        <script src="//platform.linkedin.com/in.js" type="text/javascript">
          lang: en_US
        </script>
        <script type="IN/Share" data-url="http://ferdinandsilva.com{% url 'interface_view' gist.id %}" data-counter="right"></script>
        </div>

        <div style="clear:both;">&nbsp;</div>

        <script src="https://gist.github.com/six519/{{ gist.id }}.js"></script>
        {% if not forloop.last %}
        <hr>
        {% endif %}

        {% endfor %}

        {% if with_page %}
        {% bootstrap_paginate gists %}
        {% else %}
        <div class="pagination  pagination-centered ">    
            <ul>    
                <li >
                    <a title="Previous Page" href="{{ request.META.HTTP_REFERER }}">&larr;</a>
                </li>            
            </ul> 
        </div>
        {% endif %}

      </div>
{% endblock %}
{% block javascripts %}
<script>

    $(function(e){
        {% for gist in gists %}
        $('.gist_{{ gist.id }}').tooltip();
        {% endfor %}
    });

</script>
{% endblock %}