{% extends "interface/base.html" %}
{% load bootstrap_pagination %}

{% block content %}
<div>
    <h4>Python Package Index</h4>
    <p><a href="https://warehouse.python.org/user/six519/">https://warehouse.python.org/user/six519/</a></p>

    <div>&nbsp;</div>

    <h4>Node Packaged Modules</h4>
    <p><a href="https://www.npmjs.org/~six519">https://www.npmjs.org/~six519</a></p>

    <div>&nbsp;</div>

    <h4>RubyGems</h4>
    <p><a href="http://rubygems.org/profiles/six519">http://rubygems.org/profiles/six519</a></p>

    <div>&nbsp;</div>

    <h4>Sublime Text Package Manager</h4>
    <p><a href="https://packagecontrol.io/browse/authors/six519">https://packagecontrol.io/browse/authors/six519</a></p>

    <div>&nbsp;</div>

    <h4>Visual Studio Marketplace</h4>
    <p><a href="https://marketplace.visualstudio.com/search?term=publisher%3A%22ferdinandsilva%22&target=VSCode&sortBy=Relevance">https://marketplace.visualstudio.com/search?term=publisher%3A%22ferdinandsilva%22&target=VSCode&sortBy=Relevance</a></p>

    <div>&nbsp;</div>

    <h4>Google Play</h4>
    <p><a href="https://play.google.com/store/apps/developer?id=Ferdinand+E.+Silva">https://play.google.com/store/apps/developer?id=Ferdinand+E.+Silva</a></p>

    <div>&nbsp;</div>

    <h4>Chrome Web Store</h4>
    <p><a href="https://chrome.google.com/webstore/detail/123-movies-subtitle-chang/ggkmgmfojgkbdnhebbgkallikhdlcaik">https://chrome.google.com/webstore/detail/123-movies-subtitle-chang/ggkmgmfojgkbdnhebbgkallikhdlcaik</a></p>

    <div>&nbsp;</div>

    <h4>itch.io</h4>
    <p><a href="https://six519.itch.io/">https://six519.itch.io/</a></p>

    <div>&nbsp;</div>

    <h4>GitHub</h4>
    <p><a href="https://github.com/six519">https://github.com/six519</a></p>

    <div>&nbsp;</div>

    <h4>Packagist</h4>
    <p><a href="https://packagist.org/packages/six519/">https://packagist.org/packages/six519/</a></p>

    <div>&nbsp;</div>

    <h4>Google Plus</h4>
    <p><a href="https://www.google.com/+FerdinandSilva">https://www.google.com/+FerdinandSilva</a></p>

    <div>&nbsp;</div>

    <h4>YouTube</h4>
    <p><a href="http://www.youtube.com/user/six519">http://www.youtube.com/user/six519</a></p>

    <div>&nbsp;</div>

    <h4>Facebook</h4>
    <p><a href="https://www.facebook.com/ferdinandsilva">https://www.facebook.com/ferdinandsilva</a></p>

    <div>&nbsp;</div>

    <h4>Twitter</h4>
    <p><a href="https://twitter.com/ferdinandsilva">https://twitter.com/ferdinandsilva</a></p>

    <div>&nbsp;</div>

    <h4>LinkedIn</h4>
    <p><a href="https://www.linkedin.com/in/ferdinandsilva">https://www.linkedin.com/in/ferdinandsilva</a></p>

</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
