<div>
    <h4>Python Package Index</h4>
    <p><a href="https://warehouse.python.org/user/six519/">https://warehouse.python.org/user/six519/</a></p>

    <div>&nbsp;</div>

    <h4>Node Packaged Modules</h4>
    <p><a href="https://www.npmjs.org/~six519">https://www.npmjs.org/~six519</a></p>

    <div>&nbsp;</div>

    <h4>RubyGems</h4>
    <p><a href="http://rubygems.org/profiles/six519">http://rubygems.org/profiles/six519</a></p>

    <div>&nbsp;</div>

    <h4>Chocolatey</h4>
    <p><a href="https://chocolatey.org/profiles/six519">https://chocolatey.org/profiles/six519</a></p>

    <div>&nbsp;</div>

    <h4>Crates.io</h4>
    <p><a href="https://crates.io/users/six519">https://crates.io/users/six519</a></p>

    <div>&nbsp;</div>

    <h4>Sublime Text Package Manager</h4>
    <p><a href="https://packagecontrol.io/browse/authors/six519">https://packagecontrol.io/browse/authors/six519</a></p>

    <div>&nbsp;</div>

    <h4>Visual Studio Marketplace</h4>
    <p><a href="https://marketplace.visualstudio.com/search?term=publisher%3A%22ferdinandsilva%22&target=VSCode&sortBy=Relevance">https://marketplace.visualstudio.com/search?term=publisher%3A%22ferdinandsilva%22&target=VSCode&sortBy=Relevance</a></p>

    <!--
    <div>&nbsp;</div>

    <h4>Microsoft Store (Pusoy Dos Game)</h4>
    <p><a href="https://www.microsoft.com/en-us/store/p/pusoy-dos/9pl0d3b85brq">https://www.microsoft.com/en-us/store/p/pusoy-dos/9pl0d3b85brq</a></p>
    -->

    <div>&nbsp;</div>

    <h4>Cults3D</h4>
    <p><a href="https://cults3d.com/en/users/six519/3d-models">https://cults3d.com/en/users/six519/3d-models</a></p>

    <div>&nbsp;</div>

    <!--
    <h4>Mozilla Add-ons</h4>
    <p><a href="https://addons.mozilla.org/en-US/firefox/user/ferdinandsilva/">https://addons.mozilla.org/en-US/firefox/user/ferdinandsilva/</a></p>

    <div>&nbsp;</div>

    <h4>Chrome Web Store</h4>
    <p><a href="https://chrome.google.com/webstore/detail/123-movies-subtitle-chang/ggkmgmfojgkbdnhebbgkallikhdlcaik">https://chrome.google.com/webstore/detail/123-movies-subtitle-chang/ggkmgmfojgkbdnhebbgkallikhdlcaik</a></p>

    <div>&nbsp;</div>
    -->

    <h4>Microsoft Store</h4>
    <p><a href="ms-windows-store://publisher/?name=Ferdinand%20E.%20Silva">ms-windows-store://publisher/?name=Ferdinand%20E.%20Silva</a></p>

    <div>&nbsp;</div>

    <h4>Docker Hub</h4>
    <p><a href="https://hub.docker.com/u/six519/">https://hub.docker.com/u/six519/</a></p>

    <div>&nbsp;</div>

    <!--
    <h4>itch.io</h4>
    <p><a href="https://six519.itch.io/">https://six519.itch.io/</a></p>

    <div>&nbsp;</div>
    -->

    <h4>GitHub</h4>
    <p><a href="https://github.com/six519">https://github.com/six519</a></p>

    <div>&nbsp;</div>

    <!--
    <h4>Packagist</h4>
    <p><a href="https://packagist.org/packages/six519/">https://packagist.org/packages/six519/</a></p>

    <div>&nbsp;</div>
    -->

    <h4>Google Plus</h4>
    <p><a href="https://www.google.com/+FerdinandSilva">https://www.google.com/+FerdinandSilva</a></p>

    <div>&nbsp;</div>

    <h4>YouTube</h4>
    <p><a href="http://www.youtube.com/user/six519">http://www.youtube.com/user/six519</a></p>

    <div>&nbsp;</div>

    <h4>Facebook</h4>
    <p><a href="https://www.facebook.com/ferdinandsilva">https://www.facebook.com/ferdinandsilva</a></p>

    <div>&nbsp;</div>

    <h4>Twitter</h4>
    <p><a href="https://twitter.com/ferdinandsilva">https://twitter.com/ferdinandsilva</a></p>

    <div>&nbsp;</div>

    <h4>LinkedIn</h4>
    <p><a href="https://www.linkedin.com/in/ferdinandsilva">https://www.linkedin.com/in/ferdinandsilva</a></p>

    <div>&nbsp;</div>

    <h4>DeviantArt</h4>
    <p><a href="https://www.deviantart.com/six519">https://www.deviantart.com/six519</a></p>

</div>

<hr />
